*{
   padding: 0;
   margin: 0;
   /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

body{
    background-color: rgb(110, 110, 212);
}

.heading {
    height: 20vh;
    width: 95vw;
     background-image: url('../img/logo.png'); 
    background-position: center;
    background-size:270px;
    margin-left:38px ;
    border:4px solid rgb(110, 110, 212) ;
    border-radius: 15px;
    border-bottom: none;
    /* background-repeat: no-repeat; */
    background-color: white;
    justify-content: center;
    font-family: 'DejaVu Sans Mono', monospace;
    margin-top: 10px;
    /* box-shadow: black 10px 10px; */
    
    border-right: none;
}

.heading h1 {
   display: flex;
   align-items: center;
   color: tomato;
   text-shadow: black 10px 10px 10px;
   border-radius: 15px;
   
   
}



.heading{
   display: flex;
}

.main-body {
   display: flex;
   flex-direction: row;
   margin-top: 10px;
   /* flex-wrap: wrap; */
   
} 
.left-report {
   width: 45vw;
   height: 25vh;
   margin-left:38px ;
   border:4px solid rgb(110, 110, 212) ;
   border-radius: 15px;
   border-bottom: none;
   background-repeat: no-repeat;
   background-color: white;
   justify-content: center;
   margin-top: 10px;
   /* box-shadow: black 10px 10px; */
   border-right: none;
   display: flex;
   flex-wrap:wrap ;
   color: tomato;
   margin-top:10px;
   font-family: 'Londrina Outline', cursive;
   align-items: center;
   padding-left: 10px;
}

.right-report {
   width: 47vw;
   height: 25vh;
   margin-left:38px ;
   border:4px solid rgb(110, 110, 212) ;
   border-radius: 15px;
   border-left: none;
   border-bottom: none;
   background-repeat: no-repeat;
   background-color: white;
   margin-top: 10px;
   /* box-shadow: black -10px 10px; */
   border-right: none;
   display: flex;
   justify-content: center;
   flex-wrap:wrap ;
   color: tomato;
   font-family: 'Londrina Outline', cursive;
   margin-top:10px;
   align-items: center;
   padding-left: 10px;
}

.right-report:hover{
   cursor: pointer;
   background-color: tomato;
   color: white;
   text-shadow: black 10px 10px 10px;
   box-shadow: black 10px 10px 10px 10px;
   border-top: tomato;
   border-right: tomato;
   
}

.left-report:hover{
   cursor: pointer;
   background-color: tomato;
   color: white;
   text-shadow: black 10px 10px 10px;
   box-shadow: black -10px 10px 10px 10px;
   border-top: tomato;
   border-left: tomato;
   
}

.tips {
   display: flex;
   flex-direction: row;
   margin-top: 10px;
   justify-content:space-evenly;
}

.find {
   width: 25vw;
   height: 45vh;
   margin-left:38px ;
   border:4px solid rgb(110, 110, 212) ;
   border-radius: 15px;
   border-left: none;
   border-bottom: none;
   background-repeat: no-repeat;
   background-color: white;
   margin-top: 10px;
   /* box-shadow: black -10px 10px; */
   border-right: none;
   display: flex;
   justify-content: center;
   flex-wrap:wrap ;
   color: tomato;
   font-family: 'Londrina Outline', cursive;
   margin-top:10px;
   align-items: center;
   padding-left: 10px;
}

.preventing {
   width: 25vw;
   height: 45vh;
   margin-left:38px ;
   border:4px solid rgb(110, 110, 212) ;
   border-radius: 15px;
   border-left: none;
   border-bottom: none;
   background-repeat: no-repeat;
   background-color: white;
   margin-top: 10px;
   /* box-shadow: black -10px 10px; */
   border-right: none;
   display: flex;
   justify-content: center;
   flex-wrap:wrap ;
   color: tomato;
   font-family: 'Londrina Outline', cursive;
   margin-top:10px;
   align-items: center;
   padding-left: 10px;
}

.basic {
   width: 25vw;
   height: 45vh;
   margin-left:38px ;
   border:4px solid rgb(110, 110, 212) ;
   border-radius: 15px;
   border-left: none;
   border-bottom: none;
   background-repeat: no-repeat;
   background-color: white;
   margin-top: 10px;
   /* box-shadow: black 10px 10px; */
   border-right: none;
   display: flex;
   justify-content: center;
   flex-wrap:wrap ;
   color: tomato;
   font-family: 'Londrina Outline', cursive;
   
   align-items: center;
   padding-left: 10px;
}

@media (max-width: 1248px){

   


   .main-body{
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

   }

   .tips {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      
   }

   .preventing{
width: 50vw;
   }

   .find {
      width: 50vw;
   }

   .basic {
      width: 50vw;
   }
}



