*{
   padding: 0;
   margin: 0;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgb(110, 110, 212);
}

.heading {
    height: 20vh;
    width: 95vw;
    background-image: url('../img/logo.png');
    background-position: center;
    background-size:300px;
    margin-left:38px ;
    border:4px solid rgb(110, 110, 212) ;
    border-radius: 15px;
    border-bottom: none;
    background-repeat: no-repeat;
    background-color: white;
    justify-content: center;
    font-family: 'DejaVu Sans Mono', monospace;
    margin-top: 10px;
    box-shadow: black 10px 10px;
    border-right: none;
}

.heading a:nth-child(2){
    display: inline-block;
    /* height: 13vh; */
    float: right;
    margin-top: 55px;
    margin-right: 275px;
    border: 3px solid rgb(110, 110, 212);
    padding: 20px;
    text-decoration: none;
    background-color: rgba(110, 110, 212,0.3);
    border-radius: 15px;
    color: tomato;
}

.heading a:nth-child(1){
    display: inline-block;
    /* height: 13vh; */
    /* float: right; */
    margin-top: 55px;
    margin-left: 275px;
    border: 3px solid rgb(110, 110, 212);
    padding: 20px;
    text-decoration: none;
    background-color: rgba(110, 110, 212,0.3);
    border-radius: 15px;
    color: tomato;
}
.hero {
   width: 80vw;
   height: 50vh;
   background-color: white;
   margin-left: 45px;

   
    
}

/* @media (min-width: 1274px){

} */







